GIT_AUTH_TOKEN="<GitHub Personal Access Token for Claude Code>"
SLACK_WEBHOOK_URL="<Slack Webhook URL for Claude Code>"
GCP_PROJECT_ID="<GCP Project ID for Claude Code>"
GCP_SERVICE_ACCOUNT_NAME="<GCP Service Account Name for Claude Code>"
